.bg-img{
    background: url();
    border: 1px solid red;
}
.text-center{
    text-align: center;
}
.main-logo{
    height: 50px;
}
.nav-style{
    margin: 20px;
}
.nav-btn-style{
    margin-right: 10px;
}