.data--body-style{
    height: 600px;
    width: 100%;
    display: flex;
}
.data-component{
    height: 380px;
    width: 30%;
    text-align: center;

}
.card-style-img{
    margin-top: 20px;
    height: 300px;
    width: 85%;
}
.card-style h5{
    text-align: center;
    background-color: coral;
    border-radius:0 0px 10px 10px ;
    height: 50px;
    margin: 0 auto;
    width: 85%;
    color: white;
}
